body{
	font-family: Tahoma, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header.flex-header{
	display: flex;
	padding: 12px 20px;
	color: #9a1032;
	justify-content: space-between;
	align-items: center;
}

.flex-header figure{
	width: 80px;
	margin: 0;
	padding: 0;
}

figure img{
	width: 100%;
}

.flex-header ul{
	list-style: none;
	display: flex;
	flex-basis: 200px;
	justify-content: space-between;
}

.flex-header ul a{
	color: #800000;
	text-decoration: none;
	font-weight: bold;
}

nav.flex-nav{
	display: flex;
	background-color: #e0e0e0;
	padding: 0 20px;
}

.flex-nav a{
	margin: 0;
	padding: 12px 20px;
	color: #303030;
	text-decoration: none;
}

.flex-nav a:hover{
	background-color: #d0d0d0;
}

section.container, section.flex-container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

section.flex-container{
	display: flex;
	padding: 0;
}

.flex-container nav, .flex-container article{
	padding: 8px;
}

.flex-container nav{
	flex-basis: 20%;
}

.flex-container article{
	flex-grow: 1;
}

.flex-container nav a{
	display: block;
	text-decoration: none;
	color: #303030;
	background-color: #e0e0e0;
	margin: 4px;
	padding: 2px;
	border-radius: 2px;
}

.flex-container nav a:hover{
	background-color: #d0d0d0;
}

.flex-nav a.ativo, .flex-container nav a.ativo{
	font-weight: bold;
	background-color: #606060;
	color: white;
}

div.flex-line{
	display: flex;
	justify-content: space-between;
}

.flex-line div.secundaria{
	flex-basis: 80px;
}

.flex-line div.primaria{
	flex-grow: 1;
	margin: 0 20px;
}

.primaria img, .secundaria img{
	width: 100%;
}

/* Formatação pensando em dispositivos pequenos */
@media(max-width: 600px){
	section.flex-container{
		flex-wrap: wrap;		/* Permitir que os itens quebrem linha */
	}
	
	section.flex-container nav, section.flex-container article{
		flex-basis: 100%;
		flex-grow: 0;
	}
	
	section.flex-container nav{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}






